.item-content {
    margin-top: 120px;
    padding: 0 20px;
}

select {
    appearance: none;
    border: none;
    background-color: white;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    text-align: right;
}

select option {
    text-transform: none;
}

select:focus {
    outline: none;
}

.category {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: #fff;
    border-bottom: #ddd 1px solid;
}

.footer {
    border-top: #ddd 1px solid;
    padding-top: 30px;
}

.shop {
    display: grid;
    grid-template-columns: repeat(4, 1fr);;
    column-gap: 20px;
    row-gap: 90px;
}

.img img {
    max-width: 100%;
    padding: 0;
    height: auto;
}

